<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiekn.metaboot.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.hiekn.metaboot.bean.UserBean">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="CHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mobile, nickname, password, email, gender, company, create_time, update_time, 
    status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hiekn.metaboot.bean.UserBean" useGeneratedKeys="true">
    insert into tb_user (id,mobile, nickname, password,
      email, gender, company, 
      create_time, update_time, status
      )
    values (#{id,jdbcType=VARCHAR},#{mobile,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR}, #{company,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hiekn.metaboot.bean.UserBean" useGeneratedKeys="true">
    insert into tb_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mobile != null">
        mobile,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=CHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hiekn.metaboot.bean.UserBean">
    update tb_user
    <set>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="sql_where">
    <where>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR}
      </if>
      <if test="nickname != null">
         and nickname = #{nickname,jdbcType=VARCHAR}
      </if>
      <if test="password != null">
         and password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="email != null">
         and email = #{email,jdbcType=VARCHAR}
      </if>
      <if test="gender != null">
         and gender = #{gender,jdbcType=CHAR}
      </if>
      <if test="company != null">
         and company = #{company,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
         and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
         and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="status != null">
         and status = #{status,jdbcType=CHAR}
      </if>
    </where>
  </sql>
  <select id="pageSelect" parameterType="com.hiekn.metaboot.bean.UserBean" resultMap="BaseResultMap">
    select * from tb_user
    <include refid="sql_where" />
     ORDER BY update_time DESC LIMIT #{pageNo},#{pageSize}
  </select>
  <select id="pageCount" parameterType="com.hiekn.metaboot.bean.UserBean" resultType="java.lang.Integer">
    select COUNT(*) from tb_user
    <include refid="sql_where" />
  </select>
  <select id="selectByCondition" parameterType="com.hiekn.metaboot.bean.UserBean" resultMap="BaseResultMap">
    select * from tb_user
    <include refid="sql_where" />
  </select>

</mapper>